set timeout=10
set default=0

menuentry "UnixLikeOS https://github.com/Huguini79/UnixLikeOS" {
    multiboot /boot/kernel
    boot
}

menuentry "Shutdown" {
    halt
}

menuentry "Reboot" {
    reboot
}